RewriteEngine On

#########   REECRITURE DES PAGES TRANSMEDIA GENERATOR  ########
RewriteRule ^fr/liste\.html$        /fr/liste.php [L]
RewriteRule ^fr/([^/]+)\.html$         /fr/index.php?hash=$1 [QSA,L,B]
RewriteRule ^en/splitscreen\.html$         /en/splitscreen.php [L]
RewriteRule ^en/list\.html$         /en/list.php [L]
RewriteRule ^en/([^/]+)\.html$         /en/index.php?hash=$1 [QSA,L,B]

################ Renvoi de la racine vers /fr ################
RewriteRule ^$ 										/fr [L,R=301]
RewriteRule ^liste\.html$							/fr/liste.html [L,R=301]
RewriteRule ^([^/]+)\.html$							/fr/$1.html [L,R=301]

Redirect 301 /style/partage-1200x996.jpg			/style/transmedia_FB_1200x1200.jpg